#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -Dm755 target/release/ratatui-todo-list debian/ratatui-todo-list/usr/bin/ratatui-todo-list

override_dh_auto_clean:
	cargo clean
